@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the font in your CSS file */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --theme: #7ffaa2;
  --secondary: #f4f4f4;
  --section-height: calc(100vh - 100px)
}

* {
  box-sizing: border-box;
}
/* Use the font in your styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
}

.theme {
  background-color: var(--theme);
  color: #282828;
}

.primary-font {
  color: #7ffaa2;
}
.secondary-font {
  color: #f4f4f4;
}
h2 {
  font-weight: 300;
}

/* Snap ON */
.home {
  height: var(--section-height);
}
main {
  display: flex;
  height: var(--section-height);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
section {
  scroll-snap-align: start;
  min-height: var(--section-height);
  overflow-y: auto;
  height: auto;
}
.separator{
  display: none;
}

/* Snap OFF */
@media screen and (max-aspect-ratio: 1.5/1), (min-aspect-ratio: 2.3/1) and (min-width: 1600px) {
  .home {
    height: 900px;
  }
  main {
    display: block;
    scroll-snap-type: none;
  }
  section {
    min-height: 900px;
    overflow-y: scroll;
  }
  .separator{
    display: block;
  }
}

@media screen and (max-aspect-ratio: 1.5/1), (min-aspect-ratio: 2.3/1) and (max-width: 1600px) and (min-width: 1024px) {
  .home {
    height: 700px;
  }
  main {
    display: block;
    scroll-snap-type: none;
  }
  section {
    min-height: 700px;
    overflow-y: scroll;
  }
  .separator{
    display: block;
  }
}

@media screen and (max-aspect-ratio: 1.5/1), (min-aspect-ratio: 2.3/1) and (max-width: 1024px) and (min-width: 769px) {
  .home {
    height: 500px;
  }
  main {
    display: block;
    scroll-snap-type: none;
  }
  section {
    min-height: 500px;
    overflow-y: scroll;
  }
  .separator{
    display: block;
  }
}

@media screen and (max-aspect-ratio: 1.5/1), (min-aspect-ratio: 2.3/1) and (max-width: 768px) {
  .home {
    height: 400px;
  }
  main {
    display: block;
    scroll-snap-type: none;
  }
  section {
    min-height: 400px;
    overflow-y: scroll;
  }
  .separator{
    display: block;
  }
}


/* Scroll OFF */
/* WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}
/* Firefox */
* {
  scrollbar-width: none;
}
/* Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}

nav a.active {
  font-weight: 600;
  color: var(--theme);
  transform: scale(1.25);
}

@media screen and (max-width: 900px) {
  nav a.active {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 530px) {
  nav a.active {
    transform: scale(1.01);
  }
}

nav a {
  display: inline-block;
  transition: transform 0.2s ease;
}
nav a:hover {
  transform: scale(1.15);
}

.blob {
  background-color: #7ffaa2;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: blob-animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes blob-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  height: 3px;
  border-radius: 4px;
  transition: width 0.3s ease;
  background-color: var(--secondary);
}
.tab.active::after {
  background-color: var(--theme);
  width: 90%;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #2d2d2e;
  border-radius: 13px;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all;
}
.glass:hover {
  transform: scale(1.01);
  background: rgba(255, 255, 255, 0.1);
}
.glassEffect {
  background: rgba(190, 189, 189, 0.05);
  box-shadow: 15px 15px rgba(205, 205, 205, 0.15);
  transform: rotate(-45deg) translateY(-1200px);
  animation: moveDiv 7s linear infinite;
}

@keyframes moveDiv {
  0% {
    transform: rotate(-45deg) translateY(-4000px);
  }
  100% {
    transform: rotate(-45deg) translateY(4000px);
  }
}
